.drawer {
  transition: transform 0.3s ease-in-out;
}
.drawer-hidden {
  transform: translateX(-100%);
  display: none;
}
.drawer-visible {
  transform: translateX(0);
  display: visible;
}
@media (min-width: 1024px) {
    .drawer {
      display: none;
    }
  }