 @import url("https://fonts.googleapis.com/css2?family=Inter:ital@0;1&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
      }
      .drawer {
        transition: transform 0.3s ease-in-out;
        background: #0000002c;
      }
      .drawer-hidden {
        transform: translateX(-100%);
        display: none;
      }
      .drawer-visible {
        transform: translateX(0);
        display: block;
      }

      @media (min-width: 1024px) {
        .drawer {
          display: none;
        }
      }